.login-title, .register-title {
    font-family: "Lato", sans-serif !important;
    font-size: 25px !important;
}

.login-header, .register-header {
    padding-bottom: 10px !important;
    background-color: rgba(135,146,137,255);
}

.password-input {
    margin-top: 10px !important;
}

.occupation-input {
     margin-top: 20px;
}

.username-input {
    margin-top: 15px;
}

.login-action, .register-action {
    display: flex;
    justify-content: space-evenly;
}

.login-button, .register-button {
    background-color: black !important;
    color: whitesmoke !important;
}

.toolbar-container {
    background-color: #8e1f04;
    display: flex;
    align-items: center;
    height: 80px;
}

.toolbar-title {
    flex-grow: 1;
    font-family: "Playfair Display", serif !important;
    font-size: 30px !important;
    color: #FAF9F6;
}

.toolbar-username {
    margin-right: 10px !important;
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 25px !important;
    padding-top: 5px !important;
}

.toolbar-login, .toolbar-register, .toolbar-logout {
    font-family: "Oswald", sans-serif !important;
    font-size: 20px !important;
    color: #FAF9F6;
    box-shadow: none !important;
    background-color: transparent !important;
}